:root {
    --cNav: #97EEF3;
    --cBtnGO: #646AEE;
    --cInvest1: rgba(100, 106, 238, 0.56);
    --cInvest2: #97EEF3;
    --cSeparation: #D9D9D9;
    --cLiensNav: #D9D9D9;

}


body{
    background-color: #fff;
    color: black;
    width: 834px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: var(--cNav);
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav h1 {
    font-size: 40px;
    font-weight: bolder;
    padding: 15px;
}
nav ul {
    /* border: 1px solid black; */
    list-style-type: none;
    padding: 5px;
    display: flex;
    width: 80%;
    gap: 20px;
    justify-content: space-evenly; 
}
nav ul a {
    text-decoration: none;
    background-color: var(--cLiensNav);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bolder;
    
}
nav ul a:hover {
    cursor: pointer;
    color: darkred;
}

footer h3{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

main{
    min-height: 80vh;
}
main h2 {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
}
.centrerPage{
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centrerPage h2{
    width: 80%;
    text-align: center;
    margin-bottom: 0px;
}
.separation{
    border-bottom: 10px solid var(--cSeparation);
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 2%;
}
.formulaire form{
    /* border: 1px solid black; */
    text-align: center;
    font-weight: bolder;
}
input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
}

input[type="text"],input[type="password"]{
    border-radius: 10px;
    width: 465px;
    font-size: 24px;
}
input[type="submit"]{
    border-radius: 20px;
    width: 228px;
    font-size: 40px;
    cursor: pointer;
    background-color: var(--cBtnGO);
}


.divListeInves{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 739px;
    gap: 30px;
    margin: auto;
    margin-top: 30px;
}
.invst1, .invst2{
    border: 1px solid transparent;
    width: 325px;
    gap: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    font-weight: bolder;
    background-color: var(--cInvest1);
}
.invst2{
    background-color: var(--cInvest2);
}
.invst1:hover , .invst2:hover{
    cursor: pointer;
}

.overlay{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: transparent;
}

.infoInvest{
    width: 572px;
    height: 70vh;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}
.closeOverlay{
    text-align: right;
}
.closeOverlay button{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40PX;
    border-radius: 49%;
}
.closeOverlay button:hover{
    cursor: pointer;
    color: darkred;
}

.bienvenue{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px;
}
.bienvenue h2, .bienvenue h3{
    width: 50%;
    /* border: 1px solid black; */
    margin: 0;
    text-align: center;
}
h4 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
}